@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //   font-family: 'Poppins';
  font-size: 16px;
}

.top_black_nav {
  display: none;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "hambuger  logo cart"
    "search search search";
  padding-top: 0.7rem;

  .hambuger {
    grid-area: hambuger;
    display: inline-flex;
    align-items: center;
  }

  .logo {
    grid-area: logo;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .util {
    grid-area: cart;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    .account {
      display: none;
    }

    .list {
      display: none;
    }

    .cart_word {
      display: none;
    }
  }

  .search-form {
    grid-area: search;

    .search-field {
      width: 100%;
      padding: 10px;
      margin-top: 0.8rem;
      background: rgba(196, 196, 196, 0.2);
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
      background-position-x: 10px;
      background-position-y: center;
      text-align: center;
      border-radius: 5px;
      outline: 0;
      border: 0;
    }
  }
}

.navlinks-active {
  display: block;
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  height: calc(100vh + 2rem);
  z-index: 9999;
  opacity: 1;
  transition: left 0.8s ease;

  background: #f4811f;

  .nav-item {
    padding: 2rem 0;
  }

  .nav-item .orange a {
    color: #000;
  }
}

.navlinks {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 9999;
  opacity: 1;
  transition: all 0.8s ease;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
  font-size: 0.8rem;
  height: 4rem;
  width: 100%;
  padding: 0 8% 0 12%;

  li a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    width: 100px;
  }

  .orange a {
    color: #f4811f;
  }
}

.slider {
  height: auto;
  border-bottom: solid 1px #f4811f;

  .slide {
    display: none;
  }

  .explore-box {
    position: static;
    padding: 15px 0px;

    .description_text {
      padding: 30px 0;
      width: 340px;
      line-height: 1.5;

      .lighting {
        color: #f4811f;
        font-style: italic;
      }
    }

    .explore-btn {
      padding: 12px;
      background: #000000;
      color: #fff;
      border: 1px solid #000000;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 15px;
        margin-left: 5px;
      }
    }
  }
}

.space {
  padding: 20px 0;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: bold;

    .heading {
      font-weight: 700;
      text-transform: capitalize;
    }

    span a {
      text-decoration: none;
      color: #f4811f;
      cursor: pointer;
    }
  }

  .space_display {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .space_container {
      width: 32%;
      height: 170px;
      text-transform: capitalize;

      .space_image {
        width: 100%;
        height: 90%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .space_name {
        padding: 5px 0;
      }
    }
  }
}

.categories {
  font-size: 18px;
  font-weight: bold;

  & .sliderlib{
      width: 100%;
      overflow: hidden;
    }

  .top_title {
    padding-bottom: 10px;
    .desktop_title {
      display: none;
    }

    .view_all {
      display: none;
    }
  }

  .carousel {
    height: 188px;
    width: 100%;
    border-radius: 5px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .carousel_name {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background: #ffca05;
      padding: 10px;
      font-size: 1.38rem;
      text-transform: capitalize;
      color: #000;
    }
  }

  .scrollbars {
    display: none;
  }
}

.desktop_view{
  display: none;
}

.products {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  .top_title {
    padding-bottom: 10px;

    & .desktop_title {
      display: none;
    }

    & .view_all a {
      text-decoration: none;
      color: #f4811f;
      float: right;
    }
  }

  .product_display {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    & .product {
      width: 32%;
      font-size: .8rem;
       position: relative;

      & .image {
        width: 100%;
       height: 150px;

        img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
      }

      & .product_name{
        display: block;
      }

      & .product_old_price{
        float: right;
        color: red;
        text-decoration: line-through;
      }

      & .product_discount{
        position: absolute;
        top: 10px;
        left: 0;
        padding: 5px;
        background: #000;
        color: #fff;
        border-radius: 3px;
      }

    }
  }
}

.mobile_products{
  padding: 20px 0;
  font-size: 1.3rem;
  font-weight: 600;

  & .mobile_products_title{
    padding: 10px 0;
  }

  & .mobile_products_display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    & .mobile_product{
      width: 32%;
      height: 120px;
      margin: 5px 0 10px 0;
      font-size: .8rem;

      & .image{
        width: 100%;
        height: 100px;

        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }

    }
  }

  input[type="button"]{
    display: block;
    text-align: center;
    width: 250px;
    margin: 10px auto;
    padding: 15px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
  }
}

.news_letter{
  display: none;
}

.footer{
  display: none;
}
