@import "./mobile";

@media only screen and (min-width: 768px) {
  .top_black_nav {
    background: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    height: 4rem;

    .phone,
    .location,
    .mail {
      display: flex;
      margin: 0 3rem;

      img {
        margin: 0 1rem;
      }
    }
  }

  .container {
    width: 100%;
  }

  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo search cart";
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid #828282;

    .hambuger {
      display: none;
    }

    .logo {
      grid-area: logo;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .util {
      grid-area: cart;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 20%;

      .account {
        display: inline-block;
      }

      .list {
        display: inline-block;
      }

      .cart {
        text-align: center;
      }

      .cart_word {
        display: block;
        font-size: 12px;
      }
    }

    .search-form {
      grid-area: search;

      .search-field {
        padding: 15px;
        width: 80%;
        margin: 0 auto;
        border: solid #e5e5e5 1px;
        background-color: #fff;
        color: #828282;
      }
    }
  }

  .navlinks,
  .navlinks-active {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    height: auto;
    background: none;

    .nav-item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .slider {
    height: 37.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: none;

    .image {
      width: 100vw;
      height: 100%;
    }

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
    }

    .slide.active {
      display: inline-block;
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08);
    }

    .progressBar {
      position: absolute;
      bottom: 20px;
      left: 100px;
      display: flex;

      .station {
        width: 40px;
        height: 3px;
        background: #fff;
        margin: 5px;
        border-radius: 2px;
      }

      .active {
        background: #f4811f;
      }
    }

    .explore-box {
      position: absolute;
      left: 200px;
      width: 350px;
      height: 250px;
      background: #fff;
      border-radius: 5px;
      padding: 15px 20px;

      .title {
        padding: 15px 0 10px 0;
        font-size: 18px;
      }

      .description_text {
        padding: 30px 0;
        width: 250px;
      }
    }
  }

  .space {
    width: 75%;
    margin: 0 auto;

    .title {
      justify-content: flex-start;
      gap: 1.2rem;
      padding: 20px 0;
    }

    .space_display {
      padding: 2rem 0;

      .space_container {
        width: 32.5%;
        height: 250px;
        position: relative;

        .space_image {
          height: 100%;
          width: 100%;
        }

        .space_name {
          position: absolute;
          bottom: 2rem;
          left: 1.5rem;
          width: 100px;
          font-size: 14px;
          background: #fff;
          color: #f4811f;
          text-transform: uppercase;
          padding: 8px;
          border-radius: 3px;
        }
      }
    }
  }
  .categories {
    width: 75%;
    margin: 0 auto;

    & .sliderlib {
      width: 100%;
      overflow: hidden;
    }

    .top_title {
      padding-bottom: 10px;
      .desktop_title {
        display: inline;
      }

      .mobile_title {
        display: none;
      }

      .view_all {
        display: inline;
        margin-left: 20px;

        & a {
          text-decoration: none;
          color: #f4811f;
          cursor: pointer;
        }
      }
    }

    .carousel {
      height: 300px;
      width: 97% !important;

      &img {
        width: 100%;
        height: 100%;
      }

      .carousel_name {
        background: #fff;
        color: #f4811f;
        text-transform: uppercase;
        width: 180px;
        padding: 15px 20px;
        font-size: 0.8rem;
        border-radius: 5px;
      }
    }

    .scrollbars {
      display: block;
      display: flex;
      justify-content: flex-end;

      & .scrolls {
        width: 100px;
        display: flex;
        gap: 15px;

        & .scrollprev,
        .scrollnext {
          width: 50px;
        }
      }
    }
  }

  .mobile_view {
    display: none;
  }
  .desktop_view {
    display: block;
  }

  .products {
    width: 75%;
    margin: 20px auto 40px auto;
    font-size: 1.3rem;
    box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    .top_title {
      padding: 20px;

      & .mobile_title {
        display: none;
      }

      & .desktop_title {
        display: inline;
      }
    }

    & .product_display {
      justify-content: center;
      gap: 15px;

      & .product {
        width: 23%;
        font-size: 0.9rem;
        margin-bottom: 20px;
        cursor: pointer;

        & .image {
          height: 270px;
        }
      }
    }
  }

  .mobile_products {
    display: none;
  }

  .news_letter {
    display: flex;
    height: 280px;
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
    background: #f2f2f2;

    & .text_box {
      width: 50%;

      & .box_container {
        padding: 30px;
        width: 50%;
        & .row1 {
          display: flex;
          // justify-content: center;
          align-items: center;
          img {
            margin-right: 20px;
          }
        }

        .subscribe_text {
          display: block;
          width: 220px;
          padding: 20px 0;
        }
      }

      input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 0;
        border-bottom: solid #000 1px;
        outline: none;
        background: transparent;
      }

      input[type="button"] {
        width: 200px;
        height: 60px;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        background: #000;
        color: #fff;
        margin: 30px 0;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    & .spiral_img_box {
      height: 100%;
      width: 50%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }

  .footer {
    display: block;
    background:  #333333;
    color: #fff;
    padding: 40px 0;
    margin-top: 40px;

    .footer_container {
      display: flex;
      gap: 100px;
      width: 82%;
      margin: 0 auto;

      .column1 {
        width: 350px;
        .logo {
          margin-bottom: 20px;
        }
      }

      .column2,
      .column3 {
        width: 350px;
        .title {
          font-weight: 600;
          margin: 20px 0 30px 0;
        }

        .links {
          list-style: none;
          font-size: 14px;

          li {
            margin: 5px;
          }

          .orange a {
            color: #f4811f;
          }

          li a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      .column3 {
        .social_icons {
          display: flex;
          margin-top: 10px;
          img {
            margin: 5px;
          }
        }
      }

      .column4{
        margin: 20px 0 30px 0;

        .store_top{
          display: flex;
          gap: 15px;

          .bolded{
            font-weight: 600;

          }
        }

        .store_icons{
          display: flex;
          gap: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}
